<div #content class="is">
  <div class="is__animation">
    <div class="is__time-line">
      <div
        #animation
        class="is__line-to-pass line-to-pass line-to-pass-1"
      ></div>
      <div class="is__line-pass line-pass"></div>
      <div class="is__ball"></div>
      <div class="is__ball__circle"></div>
    </div>
    <div>
      <section class="section__name">
        <p class="meu-nome meu-nome-visible-initial" #animation>
          this<span>.is()</span>
        </p>
        <div
          #animation
          class="section__name__little-description little-description slide-in-left-initial"
        >
          <p class="color-secondary myName">Saulo Ramos</p>
          <p class="subName">Front-end Developer</p>
        </div>
      </section>
      <section #animation class="section workshowcase">
        <button #animation class="myCV">
          <span>this<span class="color-secondary">.cvGenerator()</span></span>
        </button>
        <p #animation class="">
          <small class="color-primary">&lsaquo;click-to-download&rsaquo;</small>
        </p>
        <section class="section teste">
          <span class="testando">aquii</span>
        </section>
      </section>
      <section class="section" #animation>4</section>
      <section class="section" #animation>5</section>
      <section class="section" #animation>6</section>
      <section class="section" #animation>7</section>
      <section class="section" #animation>8</section>
    </div>
  </div>
</div>
